@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.hide {
  display: none;
}

.display-flex {
  display: flex;
}

.color1 {
  color: rgba(0, 0, 0, 0.5);
}

.color2 {
  color: #E95A08;
}

.color3 {
  color: white;
}

.btn-primary {
  background-color: #E95A08;
  color: white;
  font-size: 1rem;
  padding: 10px 80px;
  width: 100%;
  border: none;
  cursor: pointer;
}

body,
nav {}

/* nav related style */

nav {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin-right: 50px;
  text-decoration: none;

}

/* banner related style */
.banner {
  display: flex;
  margin-top: 120px;
  max-width: 1140px;
  margin: 0 auto;
}

.banner-content {
  margin-top: 162px;
  gap: 13px;
}

.banner-title {
  font-size: 4rem;
  margin-bottom: 0;
}

.banner img {
  width: 100%;
}

/* card related style */
.plants {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 120px;
}

.card-title {
  text-align: center;
}

.plant-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.plant-description {
  font-size: 1.25rem;
  margin-bottom: 50px;
}

.plant-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}

.card {
  max-width: 270px;
  text-align: center;
}

.card-img {
  width: 100%;
}

.card-name {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.card-number {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1px;
}

/* lover ralated style */
.lover {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 210px;
}

.lover-img {

  width: 100%;
  margin-top: 20px;
}

.lover-content {

  width: 540px;
}

.lover-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;

}

.lover-description li {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

#badge {
  position: absolute;
  margin-top: -120px;
  margin-left: -190px;
  width: 280px;
  height: 280px;
}

/* deal related style */
.deal-content {
  text-align: center;
  width: 1140px;
  margin: 0 auto;
}

.deal-container {
  width: 1140px;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(50px, auto);
}

.box {
  background-color: lightcoral;
  /* border: 2px solid green; */
  border-radius: 15px;
}

#box-1 {
  background-image: url(../assets/deal-bloom.png);
  background-size: cover;
  width: 367px;
  height: 197px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.box-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.box-content h3{
  font-size: 20px;
  margin-top: 50px;
}

#box-2 {
  background-image: url(../assets/deal-ana.png);
  width: 367px;
  height: 197px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

#box-3 {
  background-image: url(../assets/deal-zabo.png);
  width: 753px;
  height: 423px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.box-content2 {
  color: white;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.box-content2 h3{
  font-size: 40px;
}

/* join related style */
.join {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  text-align: center;
  padding: 200px 300px;
  margin-top: 120px;
}

.join-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.join-part{
  display: flex;
}

.join input {
  border: none;
  width: 70%;
  height: 50px;
}

.join button {
  background-color: #E95A08;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  padding: 1px 50px;
  width: 20%;
}

/* footer related style */
footer {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 50px auto;

}

.footer-content {
  width: 360px;
}

.footer-first li {
  list-style: none;
  margin-bottom: 30px;

}

.footer-first a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.footer-second li {
  list-style: none;
  margin-bottom: 30px;
}

.footer-second a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.footer-third img {
  margin-right: 24px;
}

/* responsive media query part */

@media screen and (max-width: 576px){

  .nav-links a {
    margin-right: 0px;

  }
  .responsive-nav {
    display: none;
  }

  /* banner style */
  .banner {
    flex-direction: column-reverse;
    margin-top: 28px;
  }

  .banner-content {
    margin-top: 0;
  }
/* plants style */
.plant-cards{
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.card{
  width: 100%;
}
.btn-primary {
    background-color: #E95A08;
    color: white;
    font-size: 1rem;
    padding: 20px 30px;
    width: 100%;
    border: none;
    cursor: pointer;
}

/* lover style */
#badge{
  display: none;
}
.lover-image img{
  width: 98%;
}
.lover{
  flex-direction: column;
}
.lover-content{
  width: auto;
}
/* responsive deals */
.deal-content{
  width: auto;
}
.deal-container{
  width: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items:start;
}
.box-content{
  margin-right: 0;
}
#box-3 {
  width: 367px;
  height: 193px;
}

.box-content2 h3{
  font-size: 20px;
}
/* join style */
.join {
  width: 100%;
  height: 276px;
  text-align: center;
  align-items: center;
  padding: 2px 3px;
  margin-top: 12px;
  
}

.join-title {
  margin-top: 90px;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}
.join input {
  border: none;
  width: 100%;
  height: 50px;
}
.join button{
  width: auto;
}

/* responsive footer */
footer{
  flex-direction: column;
}

}